body,
html {
  touch-action: none;
  margin: 0;
  border: 0 none;
  padding: 0;
 /* text-align: center; 
  background-color: black; */
  width: 100%;
  height: 100%;
  font-family: monospace;
}

#app {
  padding: 1rem;
}

#credits {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

#settings {
  margin-top: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: fit-content(10rem) fit-content(10rem);
  gap: 0 1rem;
}

#canvas {
  display: block;
  margin: 0;
  color: white;
}

#canvas:focus {
  outline: none;
}

.godot {
  font-family: 'Noto Sans', 'Droid Sans', Arial, sans-serif;
  color: #e0e0e0;
  background-color: #3b3943;
  background-image: linear-gradient(to bottom, #403e48, #35333c);
  border: 1px solid #45434e;
  box-shadow: 0 0 1px 1px #2f2d35;
}
